html{
    font-family: 'Times New Roman', Times, serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;

}
.up{
    min-height: 40vh;
    background-image: url(./fondo.jpg);
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 20px;
}
.primernav{
    padding-top: 5px;
    display: flex;
    gap: 10px;
}
.primernav a{
    text-decoration: none;
    color: white;
}
.homenav{
    border: 2px solid white;
    border-radius: 15%;
}
h1{
    color: white;
    border-left: 5px solid orange;
}

/*Aca termina Header*/

.mid{
    flex-grow: 1;
}
h2{
    padding-top: 20px;
    color: white;
    text-align: center;
}
.segundonav{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.segundonav a{
    text-decoration: none;
    color: white;
}
.bsnav{
    border: 2px solid white;
    border-radius: 15%;
    background-color: rgb(43, 42, 42);
}
.contenedormid{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articulos{
    display: flex;
    flex-direction: column;
}
.buy{
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background-color: red;
    border-radius: 20%;
    padding: 5px;
}
.cbuy{
    text-align: end;
    padding-bottom: 15px;
}
.imagenes{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
p{
    color: white;
}
.contenedoruyt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.lista{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.tabla{
    color: white;
    text-align: center;
    padding: 2px;
}
tr, td, th{
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 2px;
}
/*Aca termina Main*/

.down{
    min-height: 10vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    border-top: 2px solid white;
}

.down a{
    color: white;
    text-decoration: none;
}

/*Aca termina footer*/

/*comienza queritos*/

@media screen and (min-width: 1024px) {
    .up{
        min-height: 60vh;
    }  
    .contenedormid{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    .contenedoruyt{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    .tabla{
        padding: 4px;
    }
    tr, td, th{
        padding: 10px;
    }
    .lista{
        padding-top: 0px;
        padding-bottom: 30px;
    }
      
    .down{
        padding-top: 0px;
        flex-direction: row;
        justify-content: space-around;
    }

}


